body {
  background-color: black;
}

form {
  color: pink;
  text-align: center;
}

h1 {
  color: blueviolet;
  text-align: center;
}

h1:hover {
  color: wheat;
}

h2 {
  color: brown;
  text-align: center;
}

h2:hover {
  color: yellow;
}

.main-giff {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

#submit {
  background-color: beige;
}
