body {
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

form {
  color: whitesmoke;
  text-align: center;
  font-size: large;
}

h1 {
  color: blueviolet;
  text-align: center;
}

h1:hover {
  color: wheat;
}

h2 {
  color: white;
  text-align: center;
}

h2:hover {
  color: yellow;
}

.main-giff {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.main-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
}

.main-description {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.user-data {
  display: block;
  background-color: #fe4066;
  border-radius: 8px;
  text-align: center;
  padding: 30px 20px;
  margin: 24px 0;
}

.user-message {
  display: block;
  background-color: #fe4066;
  border-radius: 8px;
  text-align: center;
  padding: 30px 20px;
  margin: 24px 0;
}

#submit-message {
  background-color: beige;
  width: 100px;
  height: 30px;
}

#user-message {
  width: 300px;
  height: 30px;
}
